<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dmedia.dlimited">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Image Selector Entry-->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SettingsPolicyContentsActivity"
            android:parentActivityName=".activity.SettingsPolicyActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsPolicyActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsDcodeActivity"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.WalkthroughActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProductReviewDetailActivity"
            android:parentActivityName=".activity.ProductReviewListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProductReviewListActivity" />
        </activity>
        <activity
            android:name=".activity.ProductReviewApplyActivity"
            android:parentActivityName=".activity.ProductInformationActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProductInformationActivity" />
        </activity>
        <activity
            android:name=".activity.ProductReviewListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.ProductListDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProductListDetailActivity" />
        </activity>
        <activity
            android:name=".activity.ProductListDetailApplyListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.ProductListDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProductListDetailActivity" />
        </activity>
        <activity
            android:name=".activity.GalleryImageDetailActivity"
            android:parentActivityName=".activity.GalleryTabActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.GalleryTabActivity" />
        </activity>
        <activity
            android:name=".activity.EventSearchActivity"
            android:parentActivityName=".activity.HomeTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeTabActivity" />
        </activity>
        <activity
            android:name=".activity.AccountEditProfileActivity"
            android:parentActivityName=".activity.MyPageTabActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MyPageTabActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsFaqActivity"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsWithdrawActivity"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsPolicyActivity"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsInquiryActivity"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsVersionActivity"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsNotificationActivity"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.AccountChangePasswordActivity"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.AccountResetPasswordActivity"
            android:parentActivityName=".activity.AccountFindPasswordActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AccountFindPasswordActivity" />
        </activity>
        <activity
            android:name=".activity.ProductInformationActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.DBoxTabActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DBoxTabActivity" />
        </activity>
        <activity
            android:name=".activity.ProductModifyActivity"
            android:parentActivityName=".activity.ProductListDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProductListDetailActivity" />
        </activity>
        <activity
            android:name=".activity.ProductListDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.ProductListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProductListActivity" />
        </activity>
        <activity
            android:name=".activity.ProductListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.DBoxTabActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DBoxTabActivity" />
        </activity>
        <activity
            android:name=".activity.ProductMakeActivity"
            android:parentActivityName=".activity.DBoxTabActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DBoxTabActivity" />
        </activity>
        <activity
            android:name=".activity.ProductSearchActivity"
            android:parentActivityName=".activity.DBoxTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DBoxTabActivity" />
        </activity>
        <activity
            android:name=".activity.EventApplyActivity"
            android:parentActivityName=".activity.EventInformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.EventInformationActivity" />
        </activity>
        <activity
            android:name=".activity.EventInformationActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.HomeTabActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeTabActivity" />
        </activity>
        <activity
            android:name=".activity.EventModifyActivity"
            android:parentActivityName=".activity.EventListDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.EventListDetailActivity" />
        </activity>
        <activity
            android:name=".activity.MemberViewActivity"
            android:parentActivityName=".activity.EventListDetailApplyListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.EventListDetailApplyListActivity" />
        </activity>
        <activity
            android:name=".activity.EventListDetailApplyListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.EventListDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.EventListDetailActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:parentActivityName=".activity.MyPageTabActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MyPageTabActivity" />
        </activity>
        <activity
            android:name=".activity.MyPageTabActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.HomeTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.GalleryTabActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DBoxTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dbox_tab"
                    android:scheme="dlimited" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EventImageUploadActivity"
            android:parentActivityName=".activity.EventListDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.EventListDetailActivity" />
        </activity>
        <activity
            android:name=".activity.EventListDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.EventListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.EventListActivity" />
        </activity>
        <activity
            android:name=".activity.EventListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.HomeTabActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeTabActivity" />
        </activity>
        <activity
            android:name=".activity.EventMakeActivity"
            android:parentActivityName=".activity.HomeTabActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeTabActivity" />
        </activity>
        <activity
            android:name=".activity.AccountFindPasswordActivity"
            android:parentActivityName=".activity.AccountLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AccountLoginActivity" />
        </activity>
        <activity
            android:name=".activity.AccountSignupActivity3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.AccountSignupActivity2"
            android:parentActivityName=".activity.AccountSignupActivity1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AccountSignupActivity1" />
        </activity>
        <activity
            android:name=".activity.AccountSignupActivity1"
            android:parentActivityName=".activity.AccountSignupAgreementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AccountSignupAgreementActivity" />
        </activity>
        <activity
            android:name=".activity.AccountSignupAgreementActivity"
            android:parentActivityName=".activity.AccountLoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AccountLoginActivity" />
        </activity>
        <!-- 키보드에 자동 포커스 맞춰지는것 방지 -->
        <activity
            android:name=".activity.AccountLoginActivity"
            android:parentActivityName=".activity.IntroTutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.IntroTutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="main" android:scheme="dlimited" />
            </intent-filter>
            -->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RedirectActivity" />

        <receiver android:name=".others.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name=".network.FcmFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".network.FcmFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>